<section class="py-4">
  <div class="container">
    <h1>{{title}}</h1>
    <form [formGroup]="form" (ngSubmit)="submit()"
          *ngIf="showForm; else loading">
      <h2>Фио</h2>
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="col-10 col-md-8 col-lg-6 col-xl-4">
              <mat-label>Фамилия</mat-label>
              <input matInput placeholder="Дали" type="text" formControlName="aLastName"
                     [errorStateMatcher]="myErrorStateMatcher">
              <mat-error *ngIf="form.get('aLastName')?.errors">
                {{getErrorMessage(form.get('aLastName'), 'fullName')}}
              </mat-error>
            </mat-form-field>

          </div>
          <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="col-10 col-md-8 col-lg-6 col-xl-4">
              <mat-label>Имя</mat-label>
              <input matInput placeholder="Сальвадор" type="text" formControlName="aFirstName"
                     [errorStateMatcher]="myErrorStateMatcher">
              <mat-error *ngIf="form.get('aFirstName')?.errors">
                {{getErrorMessage(form.get('aFirstName'), 'fullName')}}
              </mat-error>
            </mat-form-field>

          </div>
          <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="col-10 col-md-8 col-lg-6 col-xl-4">
              <mat-label>Отчество</mat-label>
              <input matInput placeholder="Иванович" type="text" formControlName="aMiddleName"
                     [errorStateMatcher]="myErrorStateMatcher">
              <mat-error *ngIf="form.get('aMiddleName')?.errors">
                {{getErrorMessage(form.get('aMiddleName'), 'fullName')}}
              </mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="row">
        <h2>Автомобили</h2>
        <div class="me-2 col-3 col-md-3 col-xl-2">
          <button class="w-100 buttons-control" mat-raised-button color="primary" type="button"
                  (click)="addCarGroup()"
                  [ngClass]="loginType === LOGIN_TYPES.read ? 'd-none': ''">
            <mat-icon>add</mat-icon>
            <div class="d-none d-md-inline">Добавить</div>
          </button>
        </div>
        <div formGroupName="aCars" class="mb-4"
             *ngFor="let vehicleGroup of getFormArray('aCars').controls; let i = index">

          <div class="card">
            <div class="card-body">
              <div class="row justify-content-center" [formGroup]="vehicleGroup | asFormGroup">
                <mat-form-field appearance="fill" class="col-10 col-md-3">
                  <mat-label>Номер</mat-label>
                  <input matInput type="text" formControlName="number" maxlength="8"
                         onInput="this.value = this.value.toUpperCase()"
                         [errorStateMatcher]="myErrorStateMatcher">
                  <mat-error *ngIf="vehicleGroup.get('number')?.errors">
                    {{getErrorMessage(vehicleGroup.get('number'), 'number')}}
                  </mat-error>
                  <mat-progress-spinner matSuffix [mode]="'indeterminate'" diameter="20"
                                        *ngIf="vehicleGroup.get('number')?.pending">
                  </mat-progress-spinner>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-10 col-md-3">
                  <mat-label>Марка</mat-label>
                  <input matInput type="text" formControlName="brand"
                         [errorStateMatcher]="myErrorStateMatcher">
                  <mat-error *ngIf="vehicleGroup.get('brand')?.errors">
                    {{getErrorMessage(vehicleGroup.get('brand'), 'brand')}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-10 col-md-3">
                  <mat-label>Модель</mat-label>
                  <input matInput type="text" formControlName="model"
                         [errorStateMatcher]="myErrorStateMatcher">
                  <mat-error *ngIf="vehicleGroup.get('model')?.errors">
                    {{getErrorMessage(vehicleGroup.get('model'), 'model')}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-10 col-md-3">
                  <mat-label>Год</mat-label>
                  <input matInput type="number" formControlName="year" maxlength = "4"
                         [errorStateMatcher]="myErrorStateMatcher"
                         oninput="javascript:
                         if (this.value.length > this.maxLength)
                         this.value = this.value.slice(0, this.maxLength);">
                  <mat-error *ngIf="vehicleGroup.get('year')?.errors">
                    {{getErrorMessage(vehicleGroup.get('year'), 'year')}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="card-footer text-end"
                 *ngIf="getFormArray('aCars').length > 1 && loginType!== LOGIN_TYPES.read">
              <button mat-raised-button color="warn" (click)="removeCarGroup(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

        </div>

      </div>

      <div class="row justify-content-end">
        <div class="me-2 col-3 col-md-3 col-xl-2">
          <button class="w-100" mat-raised-button color="accent" type="submit"
                  [disabled]="form.invalid ||
                  form.pending ||
                  submitted  ||
                  (loginType === LOGIN_TYPES.update && !isFormChanged)"
                  *ngIf="loginType!== LOGIN_TYPES.read">
            <mat-icon>save</mat-icon>
            <div class="d-none d-md-inline">Сохранить</div>
          </button>
        </div>
        <div class="col-3 col-md-3 col-xl-2">
          <button class="w-100" mat-raised-button color="primary"
                  routerLink="/" type="button">
            <mat-icon>keyboard_backspace</mat-icon>
            <div class="d-none d-md-inline">Назад</div>
          </button>
        </div>
      </div>
    </form>
    <ng-template #loading>
      <mat-spinner class="mx-auto"></mat-spinner>
    </ng-template>
  </div>
</section>
