<section class="py-4">
  <div class="container">
    <h1>{{title}}</h1>

    <div class="row">
      <div class="col-4">
        <button mat-raised-button color="primary" class="me-5 buttons-control"
                routerLink="/owner-cru"
                [queryParams]="{loginType: LOGIN_TYPES.create}">
          <mat-icon>add</mat-icon>
          <div class="d-none d-md-inline">Добавить</div>
        </button>
      </div>
      <div class="col-8 d-flex justify-content-end">
        <button mat-raised-button color="primary" class="me-2 buttons-control"
                [disabled]="selection.hasValue() ? false : true"
                [routerLink]="[
                '/owner-cru',
                selection.isEmpty() ? '' : selection.selected[0].id]"
                [queryParams]="{loginType: LOGIN_TYPES.read}">
          <mat-icon>remove_red_eye</mat-icon>
          <div class="d-none d-md-inline"> Просмотр</div>
        </button>
        <button mat-raised-button color="primary" class="me-2 buttons-control"
                [disabled]="selection.hasValue() ? false : true"
                [routerLink]="[
                '/owner-cru',
                selection.isEmpty() ? '' : selection.selected[0].id]"
                [queryParams]="{loginType: LOGIN_TYPES.update}">
          <mat-icon>edit</mat-icon>
          <div class="d-none d-md-inline"> Редактировать</div>
        </button>
        <button mat-raised-button color="warn" class="buttons-control"
                [disabled]="selection.hasValue() ? false : true"
                (click)="deleteOwner(); selection.clear();">
          <mat-icon>delete</mat-icon>
          <div class="d-none d-md-inline"> Удалить</div>
        </button>
      </div>
    </div>


    <table mat-table [dataSource]="owners" class="mat-elevation-z8">

      <ng-container matColumnDef="aLastName">
        <th mat-header-cell *matHeaderCellDef> Фамилия</th>
        <td mat-cell *matCellDef="let element"> {{element.aLastName}} </td>
      </ng-container>

      <ng-container matColumnDef="aFirstName">
        <th mat-header-cell *matHeaderCellDef> Имя</th>
        <td mat-cell *matCellDef="let element"> {{element.aFirstName}} </td>
      </ng-container>

      <ng-container matColumnDef="aMiddleName">
        <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': mobile}"> Отчество</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': mobile}"> {{element.aMiddleName}} </td>
      </ng-container>

      <ng-container matColumnDef="aCars">
        <th mat-header-cell *matHeaderCellDef> Кол-во авто</th>
        <td mat-cell *matCellDef="let element"> {{element.aCars.length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsOfOwners"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsOfOwners;"
          (click)="selection.toggle(row)"
          [ngClass]="{hover: row.hovered, active: selection.isSelected(row)}"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
      </tr>

    </table>
  </div>
</section>
