table {
  width: 100%;
  table-layout: fixed;

  tr {
    &.hover {
      background-color: rgba(0, 0, 0, .06);
    }

    &.active {
      background-color: rgba(63, 81, 181, .15);
    }
  }
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
    table-layout: auto;
  }
}
